@media (min-width: 640px) {
  .sidebar-visible-lg {
    display: block !important;
  }
}

.PAIAnimation {
  animation: PAIAnimation 2s ease-in-out infinite alternate-reverse;
}

@keyframes PAIAnimation {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(5px);
  }
}
